


.bg-amethyst {
    background-color: #5865f2 !important;
}

.personal-red { background-color: #d84e42; color: white;}
.personal-red:hover { background-color: rgb(231, 206, 206);; color: #e71401;}

#cover-signup {
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    height: 41vw;
}
#signupform{
    margin-left: 0 !important;
}
.date-picker {
    width: 100%;
    border-radius: 7px;
    border: 1px solid #dee2e6;
    padding: 8px;
}
#cover-signup img{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.h100perc {
    height: 100%;
}
#profiloImg:hover {
    cursor: pointer;
}

#success-message {
    background-color: green;
}

/* user account */
#boxUserCont {width: fit-content !important;}
.userBox.card {
   border-radius: 15px !important;
}
#userBoxImg {
    width: 200px; height: 200px; overflow: hidden; display: inline-block; border-radius: 15px;
}
.btnUdtPass i{
    color:rgb(219, 168, 0);
    font-size: 20px;
}
.accountButtons a {margin-right: 5px;}
.cardButCont {    height: 40px; align-items: center;}
.addCollectionBut {font-size: 30px; transition: all 0.1s ease-out;}
.addCollectionBut:hover {
    font-size: 33px;
    cursor: pointer;
}
.custom-textarea {
    width: 100%;
    min-height: 100px; /* Altezza minima */
    resize: vertical;   /* Permette di ridimensionare solo in verticale */
    padding: 10px;
    font-size: 16px;
  }
  

@media (min-width: 1400px) {
    .formloginCont{
        max-width: 75vw !important;
    }
}

.img-fixed {
        width: 100%;  /* Larghezza al 100% della card */
        height: 200px; /* Altezza fissa */
        object-fit: cover; /* Ritaglia e mantiene proporzioni */
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
.delete-icon {
    bottom: 10px;   
    right: 10px;   
    font-size: 20px; 
    color: white;  
    padding: 8px;   
    text-decoration: none; 
}

.delete-icon:hover {
    color: rgba(255, 0, 0, 0.8);
}