<!doctype html>
<html lang="en">
    
  <head th:insert="~{head :: headContent}" th:with="pageTitle='Home Stones of Dreams'"></head>

  <body>

    
    <nav th:insert="~{header :: navbar}"></nav>


	<h1 class="text-center my-4 mb-5" >Cambia password</h1>
	<div class="container">
		<form th:action="@{/user/changePassword}" method=post th:object="${changePasswordForm}" class="mx-auto col-md-3"> 
			  <div class="mb-3">
			  	<label for="oldPassword" class="form-label">Old Password:</label>
			  	<input type="password" th:field="*{oldPassword}"  class="form-control" required>
			  
			  </div>
			  <div class="mb-3">
	            <label for="password" class="form-label">New Password:</label>
	            <input type="password" id="password" th:field="*{password}"  class="form-control" required>
	        </div>
	        <a href="/user" class="btn btn-primary w-100 mb-2">Go back</a>
	        <button type="submit" class="btn btn-success w-100">Update Password</button>
	        
		
			  <!-- Visualizzazione degli errori -->
			  <div th:if="${#fields.hasErrors('oldPassword')}">
	            <p th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}" class="text-danger"></p>
	        </div>
	    	<div th:if="${#fields.hasErrors('password')}">
	        	<p th:each="err : ${#fields.errors('password')}" th:text="${err}" class="text-danger"></p>
	    	</div>
		
		</form>
	</div>


    <footer th:insert="~{footer :: footer-el}">

</body>
</html>