<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cambia password</title>
</head>
<body>
	<h1>Cambia password</h1>
	<form th:action="@{/user/changePassword}" method=post th:object="${changePasswordForm}"> 
		  <div>
		  	<label for="oldPassword">Old Password</label>
		  	<input type="password" th:field="*{oldPassword}" required>
		  
		  </div>
		  <div>
            <label for="password">New Password:</label>
            <input type="password" id="password" th:field="*{password}" required>
        </div>
        <div>
            <button type="submit">Update Password</button>
        </div>
	
		  <!-- Visualizzazione degli errori -->
		  <div th:if="${#fields.hasErrors('oldPassword')}">
            <p th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}"></p>
        </div>
    	<div th:if="${#fields.hasErrors('password')}">
        	<p th:each="err : ${#fields.errors('password')}" th:text="${err}"></p>
    	</div>
	
	</form>
</body>
</html>