<!doctype html>
<html lang="en">
    
  <head th:insert="~{head :: headContent}" th:with="pageTitle='Home Stones of Dreams'"></head>

  <body>

    <!-- 
        th:insert="~{header :: navbar}": dice a Thymeleaf di prendere il frammento navbar dal file header.html e inserirlo al 
        posto del tag <nav> nel file index.
        header: È il nome del file in cui si trova il frammento.
        navbar: È il nome del frammento definito nel file header con th:fragment. La sintassi è sempre uguale 
    -->
    <nav th:insert="~{header :: navbar}"></nav>

    <div class="px-4 pt-5 my-5 text-center border-bottom">
      <h1 class="display-4 fw-bold text-body-emphasis">Stones of Dreams</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            Scopri il mondo delle pietre con la nostra web app! Esplora informazioni dettagliate su gemme e minerali: <b>storia</b>, 
            <b>proprietà</b>, <b>significato simbolico</b> e usi pratici. 
            <br>Trova la pietra perfetta per il tuo stile, le tue emozioni o le tue esigenze spirituali 
            con contenuti personalizzati e curiosità affascinanti.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <button type="button" onclick="window.location.href='/stones'" class="btn text-white btn-lg px-4 me-sm-3" style="background-color: #5865f2;">Pietre</button>
          <button type="button" onclick="window.location.href='/account'" class="btn btn-outline-secondary btn-lg px-4">Account</button>
        </div>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <!-- le immagini si trovano nella cartella "public/images" del progetto -->
          <img src="/images/cover.jpg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy">
        </div>
      </div>
    </div>
  
    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>