<!DOCTYPE html>
<html>

<head th:insert="~{head :: headContent}" th:with="pageTitle='Insert stone'"></head>

<body>


    <nav th:insert="~{header :: navbar}"></nav>

	<div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto rounded border p-4 m-4">
                <h2 class="text-center mb-5">Insert new Stone</h2>

				<form th:action="@{/stone/inserisciPietra}" th:object="${stoneForm}" method="post" enctype="multipart/form-data">
					<!--Quando utilizzi th:object in Thymeleaf, il modulo è legato all'oggetto di modello specificato (in questo caso, 
					stoneForm che è l'oggetto stoneDto). Quando il modulo viene inviato, i valori inseriti negli input del modulo vengono automaticamente mappati 
					sulle proprietà corrispondenti dell'oggetto productDto:
					
					Binding dei Dati: Thymeleaf lega gli input del modulo alle proprietà dell'oggetto productDto. Per esempio, se hai un 
					campo di input con th:field="*{name}", Thymeleaf si aspetta che productDto abbia una proprietà chiamata name.

					Invio del Modulo: Quando l'utente compila il modulo e lo invia, i dati inseriti vengono inviati al server come parte 
					della richiesta HTTP.

					Binding sul Server: Se utilizzi un framework come Spring MVC, i dati della richiesta vengono automaticamente associati 
					ai campi dell'oggetto productDto durante la deserializzazione della richiesta. Quindi, quando la richiesta viene 
					elaborata dal controller, productDto conterrà i valori inseriti nel modulo -->


					<div class="mb-3">
						<label for="nome" class="form-label">Nome:</label>
						<input type="text" th:field="${stoneForm.nome}" class="form-control"/>
						<!-- questo è un if che dice che in caso ci fosse un errore quando si invia la form al controller, il messaggio di errore viene stampato qui
							con la classe boolean text-danger che rende il testo del messaggio rosso -->
						<p th:if="${#fields.hasErrors('nome')}" th:errorclass="text-danger" th:errors="${stoneForm.nome}">
					</div>
					
					<div class="mb-3">
						<label for="tipo" class="form-label">Tipo:</label>
						<input type="text" th:field="${stoneForm.tipo}" class="form-control"/>
						<!-- <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}"></p> -->
					</div>
					<div class="mb-3">
						<label for="colore" class="form-label">Colore:</label>
						<input type="text" th:field="${stoneForm.colore}" class="form-control"/>
						<!-- <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}"></p> -->
					</div>
					<div class="mb-3">
						<label for="elemento" class="form-label">Elemento:</label>
						<input type="text" th:field="${stoneForm.elemento}" class="form-control"/>
						<!-- <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}"></p> -->
					</div>
					<div class="mb-3">
						<label for="descrizione" class="form-label">Descrizione:</label>
						<input type="text" th:field="${stoneForm.descrizione}" class="form-control"/>
						<p th:if="${#fields.hasErrors('descrizione')}" th:errorclass="text-danger" th:errors="${stoneForm.descrizione}"></p>
					</div>
					<div class="mb-3">
						<label for="emozione" class="form-label">Emozione:</label>
						<input type="text" th:field="${stoneForm.emozione}" class="form-control"/>
						<!-- <p th:if="${#fields.hasErrors('email')}" th:errorclass="text-danger" th:errors="*{email}"></p> -->
					</div>
					<div class="mb-3">
						<label for="benefici" class="form-label">Benefici:</label>
						<input type="text" th:field="${stoneForm.benefici}" class="form-control"/>
						<p th:if="${#fields.hasErrors('benefici')}" th:errorclass="text-danger" th:errors="${stoneForm.benefici}"></p>
					</div>
					<div class="mb-3">
						<label for="storiaPietra" class="form-label">Storia:</label>
						<input type="text" th:field="${stoneForm.storiaPietra}" class="form-control"/>
						<p th:if="${#fields.hasErrors('storiaPietra')}" th:errorclass="text-danger" th:errors="${stoneForm.storiaPietra}"></p>
					</div>
					<div class="mb-3">
						<label class="col-sm-4 col-form-label">Image</label>
						<div class="col-sm-8">
							<input class="form-control" type="file" th:field="${stoneForm.immagineFile}">
							<p th:if="${#fields.hasErrors('immagineFile')}" th:errors="${stoneForm.immagineFile}" th:errorclass="text-danger"></p>
						</div>
					</div>
					
					<input class="btn btn-success" type="submit" value="Inserisci"/>
				
				</form>
			</div>
		</div>
	</div>

	<footer th:insert="~{footer :: footer-el}">

	

</body>
</html>